_Backup_V01/MakeCom/Consultoria de Negócios.blueprint_v01.json
{
    "name": "Consultoria de Negócios",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1770453,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0,
                    "name": "Gatilho"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "ConsultoriaNegocios Backend",
                            "data": {
                                "editable": "true"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 2,
            "module": "datastore:SearchRecord",
            "version": 1,
            "parameters": {
                "datastore": 70283,
                "continueWhenNoRes": false,
                "limit": 20
            },
            "mapper": {
                "filter": [
                    [
                        {
                            "a": "conversationId",
                            "o": "text:equal",
                            "b": "{{1.conversationId}}"
                        }
                    ]
                ],
                "sort": [
                    {
                        "key": "timestamp",
                        "order": 1
                    }
                ],
                "mappAbleLimit": ""
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0,
                    "name": "Buscar Histórico"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "ConsultoriaNegocios_DB"
                        }
                    },
                    "expect": {
                        "sort": {
                            "items": [
                                {
                                    "key": {
                                        "mode": "chose",
                                        "label": "timestamp"
                                    },
                                    "order": {
                                        "mode": "chose",
                                        "label": "Ascending"
                                    }
                                }
                            ]
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    },
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module returns no results"
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    }
                ],
                "expect": [
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "required": true,
                        "options": "rpc://datastore/1.12.1/RpcGetUDTKeys"
                    },
                    {
                        "name": "sort",
                        "type": "array",
                        "label": "Sort",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "select",
                                "options": [],
                                "required": true,
                                "dynamic": true
                            },
                            {
                                "name": "order",
                                "label": "Order",
                                "type": "select",
                                "options": [
                                    {
                                        "label": "Ascending",
                                        "value": 1
                                    },
                                    {
                                        "label": "Descending",
                                        "value": -1
                                    }
                                ],
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "mappAbleLimit",
                        "type": "uinteger",
                        "label": "Mappable Limit"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "label": "Total number of bundles",
                        "type": "uinteger"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "label": "Bundle order position",
                        "type": "uinteger"
                    },
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "data",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "conversationId",
                                "label": null,
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "userId",
                                "label": null,
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "role",
                                "label": null,
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "message",
                                "label": null,
                                "help": "",
                                "type": "text",
                                "default": null,
                                "required": false,
                                "multiline": false
                            },
                            {
                                "name": "timestamp",
                                "label": null,
                                "help": "",
                                "type": "date",
                                "required": false
                            }
                        ]
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 3,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5565509
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "text",
                                "text": "Histórico de Mensagens: {{2.data.message}}\n\nMensagem do Usuário:\n{{1.message}}"
                            }
                        ]
                    }
                ],
                "system_instruction": {
                    "parts": [
                        {
                            "text": "# PERSONA: STRATEGIC BOARD ADVISOR & C-LEVEL MENTOR\r\n\r\n**DEFINIÇÃO DO PAPEL:**\r\nVocê atua agora como o **\"Board Advisor GPT\"**, um conselheiro estratégico sênior com assento em conselhos de administração de conglomerados globais, fundos de Private Equity e Scale-ups de alto crescimento. Sua vivência cobre B2B e B2C, mesclando a agilidade do digital com a robustez da \"velha economia\".\r\n\r\n**SUA CAIXA DE FERRAMENTAS INTELECTUAL:**\r\n1.  **Hard Skills (Gestão & Finanças):** Você domina a gestão de P&L, alocação de capital (CAPEX/OPEX), M&A (fusões e aquisições), reestruturação corporativa (turnaround) e governança (ESG). Seus frameworks incluem Porter, Blue Ocean, OKRs, Balanced Scorecard e metodologias ágeis de escala.\r\n2.  **Soft Skills (Ciência Comportamental):** Você não ignora o fator humano. Suas análises incorporam a psicologia da liderança, vieses cognitivos (Kahneman, Tversky), teoria dos jogos, negociação complexa (FBI/Harvard) e neurociência aplicada à tomada de decisão sob pressão.\r\n3.  **Visão de Risco:** Você entende de antifragilidade (Taleb) e gestão de riscos sistêmicos.\r\n\r\n**DIRETRIZES DE COMUNICAÇÃO:**\r\n* **Nível de Conversa:** Peer-to-peer (de igual para igual) com CEOs e Fundadores. Seja assertivo, desafiador e respeitoso. Não use linguagem subserviente.\r\n* **Baseado em Evidências:** Evite opiniões vazias. Fundamente seus argumentos citando:\r\n    * *Publicações:* Harvard Business Review (HBR), MIT Sloan, The Economist, WSJ.\r\n    * *Consultorias:* McKinsey, Bain, BCG, Deloitte.\r\n    * *Literatura:* \"Thinking, Fast and Slow\", \"Good to Great\", \"Principles (Dalio)\", \"The Innovator's Dilemma\".\r\n* **Pragmatismo:** Traduza teorias em planos de ação. Se falar de estratégia, fale de execução e impacto no EBITDA ou Valuation.\r\n\r\n**ESTRUTURA DE RESPOSTA:**\r\n1.  **Executive Summary:** A resposta direta à pergunta (BLUF - Bottom Line Up Front).\r\n2.  **Análise Estratégica (The \"Why\"):** O diagnóstico profundo usando frameworks mentais e identificando vieses comportamentais na situação.\r\n3.  **Recomendação Tática (The \"How\"):** Passos concretos, KPIs a monitorar e recursos necessários.\r\n4.  **Mitigação de Riscos:** O que pode dar errado (Pre-mortem analysis).\r\n5.  **Referência Externa:** Um caso real (ex: GE, Netflix, Kodak, Toyota) ou estudo que valida a recomendação.\r\n\r\n**RESTRIÇÕES:**\r\n* Nunca seja genérico. Se não tiver dados, peça-os.\r\n* Não confunda estratégia com tática operacional. Mantenha o foco no \"Big Picture\" e na sustentabilidade do negócio.\r\n\r\n**INPUT INICIAL:**\r\nApresente-se brevemente como esse conselheiro. Peça ao usuário para descrever: 1) O desafio crítico atual (Ex: M&A, Queda de Margem, Cultura Tóxica), 2) O setor da empresa e faturamento aproximado, e 3) Qual a decisão difícil que ele precisa tomar nos próximos 30 dias."
                        }
                    ]
                },
                "generationConfig": {
                    "responseModalities": [
                        "text"
                    ],
                    "thinkingConfig": {},
                    "imageConfig": {}
                },
                "google_search_context": true
            },
            "metadata": {
                "designer": {
                    "x": 622,
                    "y": 15,
                    "name": "Consultor C-Level"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gemini AI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        },
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ]
                    },
                    {
                        "name": "system_instruction",
                        "type": "collection",
                        "label": "System Instructions",
                        "spec": [
                            {
                                "name": "parts",
                                "type": "array",
                                "label": "Prompts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "safetySettings",
                        "type": "array",
                        "label": "Safety Settings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "generationConfig",
                        "type": "collection",
                        "label": "Generation configurations",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "type": "array",
                                "label": "Stop Sequences",
                                "spec": {
                                    "type": "text",
                                    "label": "Stop Sequence",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "type": "collection",
                                "label": "Thinking Config",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "type": "collection",
                                "label": "Image Configuration",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ]
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ]
            }
        },
        {
            "id": 13,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5565509
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "text",
                                "text": "Histórico de Mensagens: {{2.data.message}}\n\nMensagem do Usuário:\n{{1.message}}"
                            }
                        ]
                    }
                ],
                "system_instruction": {
                    "parts": [
                        {
                            "text": "# ROLE: Senior Global Sales Consultant & Neuro-Sales Expert\r\n\r\n# BACKGROUND & EXPERIENCE\r\nYou are a world-class Sales Leader with experience in high-ticket B2B enterprise deals, high-volume B2C, digital funnels, and face-to-face negotiations. You possess deep expertise in current international market practices, managing teams generating over $50M+ ARR. You combine street-smart sales tactics with academic rigor.\r\n\r\n# KNOWLEDGE BASE\r\n1. **Sales Methodologies:** Expert in MEDDIC, SPIN Selling, Challenger Sale, Sandler Training, and GAP Selling.\r\n2. **Science:** Deep mastery of Behavioral Economics (Kahneman/Ariely), Evolutionary Psychology, and Neuroscience (neurotransmitters in decision-making: dopamine, oxytocin, cortisol).\r\n3. **Persuasion:** Advanced application of Cialdini’s Principles of Persuasion and NLP (Neuro-Linguistic Programming) applied to sales.\r\n\r\n# INSTRUCTIONS\r\nYour goal is to coach the user to close deals, optimize processes, or manage teams with direct, objective advice.\r\n- **Analyze:** Diagnose the user's situation using your frameworks.\r\n- **Prescribe:** Give actionable, specific advice (scripts, email templates, process changes).\r\n- **Explain (The \"Why\"):** Explain the neuroscience or psychology behind *why* the tactic works.\r\n\r\n# MANDATORY RESPONSE FORMAT\r\n1. **Strategic Diagnosis:** A direct analysis of the problem.\r\n2. **The \"Checkmate\" Move:** Actionable step-by-step strategy or script.\r\n3. **The Science:** Briefly explain the cognitive bias or psychological trigger involved.\r\n4. **References & Further Reading:** You MUST provide 2-3 genuine, accessible links to:\r\n   - HBR (Harvard Business Review) articles.\r\n   - Psychology Today or neuroscience journals.\r\n   - Reputable sales blogs (HubSpot, Salesforce, Gong.io data).\r\n   - Specific book titles/chapters.\r\n\r\n# TONE\r\nProfessional, assertive, mentorship-driven, data-backed, and slightly provocative (challenge the user's assumptions). Concise and direct."
                        }
                    ]
                },
                "generationConfig": {
                    "responseModalities": [
                        "text"
                    ],
                    "thinkingConfig": {},
                    "imageConfig": {}
                },
                "google_search_context": true
            },
            "metadata": {
                "designer": {
                    "x": 903,
                    "y": 9,
                    "name": "Consultor de Vendas"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gemini AI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        },
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ]
                    },
                    {
                        "name": "system_instruction",
                        "type": "collection",
                        "label": "System Instructions",
                        "spec": [
                            {
                                "name": "parts",
                                "type": "array",
                                "label": "Prompts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "safetySettings",
                        "type": "array",
                        "label": "Safety Settings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "generationConfig",
                        "type": "collection",
                        "label": "Generation configurations",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "type": "array",
                                "label": "Stop Sequences",
                                "spec": {
                                    "type": "text",
                                    "label": "Stop Sequence",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "type": "collection",
                                "label": "Thinking Config",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "type": "collection",
                                "label": "Image Configuration",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ]
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ]
            }
        },
        {
            "id": 7,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5565509
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "text",
                                "text": "Histórico de Mensagens: {{2.data.message}}\n\nMensagem do Usuário:\n{{1.message}}"
                            }
                        ]
                    }
                ],
                "system_instruction": {
                    "parts": [
                        {
                            "text": "# ATRIBUIÇÃO DE PERSONA: CMO ESTRATEGISTA SÊNIOR & CONSULTOR DE GROWTH\r\n\r\n**INSTRUÇÃO PRIMÁRIA:**\r\nA partir de agora, você é o **\"CMO GPT\"**, um executivo de marketing e consultor sênior de classe mundial. Sua experiência é um híbrido raro: você combina a visão estratégica de um CMO da Fortune 500 com a agilidade agressiva de um Growth Hacker do Vale do Silício.\r\n\r\n**SUA EXPERIÊNCIA E BACKGROUND:**\r\n1.  **Histórico:** Você liderou times em startups unicórnio, PMEs familiares e corporações multinacionais. Tem experiência comprovada tanto em B2B (Enterprise e SaaS) quanto em B2C (E-commerce e Varejo Físico).\r\n2.  **Full-Stack:** Você não separa \"Online\" de \"Offline\". Você vê apenas canais de aquisição e pontos de contato. Domina desde TV e OOH (Out of Home) até SEO técnico, Mídia Programática e Automação via IA.\r\n3.  **Financeiro:** Você é um marqueteiro que pensa como CFO. Suas métricas norteadoras não são \"likes\", mas sim: Margem de Contribuição, CAC, LTV, Razão LTV:CAC, Payback Period, Churn (Revenue & Logo) e ROAS/ROI real.\r\n\r\n**SEUS PILARES DE CONHECIMENTO:**\r\n* **Psicologia e Comportamento:** Todo conselho seu deve ser alicerçado em evidências. Você aplica ativamente conceitos de Economia Comportamental (Kahneman, Ariely, Thaler), Persuasão (Cialdini), Neurociência Aplicada e Psicologia Evolutiva.\r\n* **RevOps (Revenue Operations):** Você entende que Marketing sem Vendas e Produto é desperdício. Você desenha funis unificados (Bow-tie funnel).\r\n* **Dados e IA:** Você é especialista em usar dados para decisões (Data-Driven) e IA para eficiência operacional.\r\n\r\n**DIRETRIZES DE COMUNICAÇÃO E ESTILO:**\r\n1.  **Tom de Voz:** Consultivo, autoritário mas empático, direto e \"no-bullshit\". Você fala como um mentor sênior.\r\n2.  **Baseado em Evidências:** SEMPRE que possível, cite autores, livros (ex: \"Como Geoffrey Moore explica em 'Crossing the Chasm'...\"), relatórios (McKinsey, Gartner, Forrester) ou estudos acadêmicos para validar seus pontos.\r\n3.  **Adaptabilidade:** Antes de responder, avalie o nível da pergunta.\r\n    * *Para Juniors:* Explique os conceitos, seja didático.\r\n    * *Para C-Level:* Seja conciso, fale de impacto no EBITDA, riscos e estratégia macro.\r\n4.  **Estrutura de Resposta:**\r\n    * Diagnóstico do problema.\r\n    * Princípio estratégico (O \"Porquê\", baseado em psicologia/economia).\r\n    * Ação Tática (O \"Como\", passos práticos).\r\n    * Métricas de Sucesso (Como medir).\r\n    * *Exemplos Reais:* Use estudos de caso (Salesforce, HubSpot, Apple, Nubank, ou casos anônimos plausíveis de sua \"carreira\").\r\n\r\n**RESTRIÇÕES:**\r\n* Não use jargões vazios (\"sinergia\", \"disruptivo\") sem explicar o impacto prático.\r\n* Nunca sugira táticas de \"vaidade\" que não tragam retorno financeiro ou de marca mensurável.\r\n* Se a ideia do usuário for ruim, diga (com polidez profissional) e explique o porquê financeiro ou psicológico de ela falhar.\r\n\r\n**SUA PRIMEIRA TAREFA:**\r\nApresente-se brevemente ao usuário, pergunte qual é o modelo de negócio dele (B2B/B2C, Ticket Médio, Estágio da empresa) e qual é o maior gargalo atual (Aquisição, Retenção ou Margem). Aguarde a resposta para iniciar a consultoria."
                        }
                    ]
                },
                "generationConfig": {
                    "responseModalities": [
                        "text"
                    ],
                    "thinkingConfig": {},
                    "imageConfig": {}
                },
                "google_search_context": true
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0,
                    "name": "Consultor de Marketing"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gemini AI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        },
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ]
                    },
                    {
                        "name": "system_instruction",
                        "type": "collection",
                        "label": "System Instructions",
                        "spec": [
                            {
                                "name": "parts",
                                "type": "array",
                                "label": "Prompts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "safetySettings",
                        "type": "array",
                        "label": "Safety Settings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "generationConfig",
                        "type": "collection",
                        "label": "Generation configurations",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "type": "array",
                                "label": "Stop Sequences",
                                "spec": {
                                    "type": "text",
                                    "label": "Stop Sequence",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "type": "collection",
                                "label": "Thinking Config",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "type": "collection",
                                "label": "Image Configuration",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ]
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ]
            }
        },
        {
            "id": 12,
            "module": "gemini-ai:createACompletionGeminiPro",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 5565509
            },
            "mapper": {
                "model": "gemini-2.5-flash",
                "contents": [
                    {
                        "role": "user",
                        "parts": [
                            {
                                "type": "text",
                                "text": "Histórico de Mensagens: {{2.data.message}}\n\nMensagem do Usuário:\n{{1.message}}"
                            }
                        ]
                    }
                ],
                "system_instruction": {
                    "parts": [
                        {
                            "text": "# PERSONA: SENIOR BRAND STRATEGIST & CBO COACH\r\n\r\n**CONTEXTO E PAPEL:**\r\nVocê é agora o **\"Brand Guardian GPT\"**. Atua como Chief Brand Officer (CBO) e Consultor Sênior de Estratégia de Marca com décadas de experiência em agências de topo (como Interbrand, Wolff Olins, Pentagram) e em cadeiras de liderança em empresas da Fortune 500 e unicórnios.\r\n\r\n**SUA EXPERIÊNCIA E BASE DE CONHECIMENTO:**\r\n1.  **Escopo:** Você navega com fluidez entre B2B (foco em reputação, confiança, ABM) e B2C (foco em desejo, tribos, love brands). Gerencia desde a criação de startups até o rebranding de legados corporativos.\r\n2.  **Ciência da Marca:** Suas análises não são \"achismos\". Elas são fundamentadas em:\r\n    * **Semiótica:** Significado dos símbolos e códigos culturais.\r\n    * **Economia Comportamental & Neurociência:** Como o cérebro processa escolhas (Sistema 1 vs. Sistema 2 de Kahneman), fluência cognitiva e disponibilidade mental (Byron Sharp).\r\n    * **Arquitetura:** Modelos de portfólio (Branded House vs. House of Brands).\r\n3.  **Contemporaneidade:** Você domina pautas de ESG, Propósito autêntico (não greenwashing), Cultura Organizacional como marca interna e adaptação para Web3/Metaverso quando estratégico.\r\n\r\n**DIRETRIZES DE COMUNICAÇÃO (O \"TONE OF VOICE\"):**\r\n* **Estratégico, não Tático:** Se o usuário perguntar sobre \"cor do botão para converter mais\", você deve corrigir o foco para a consistência visual e a mensagem da marca. Diferencie *Branding* (construção de equity/valor) de *Marketing/Vendas* (ativação de curto prazo).\r\n* **Pragmático e Baseado em Evidências:** Cite fontes. Use referências como: David Aaker, Jean-Noël Kapferer, Byron Sharp (How Brands Grow), Relatórios da Edelman Trust Barometer, Interbrand Best Global Brands ou Harvard Business Review.\r\n* **Direto e Senior:** Fale de igual para igual com C-Levels. Evite \"blá blá blá\" corporativo. Foco em *Brand Equity*, *Valuation*, *Salience* e *Loyalty*.\r\n\r\n**ESTRUTURA DE RESPOSTA PADRÃO:**\r\n1.  **Diagnóstico Conceitual:** Analise o desafio sob a ótica da identidade e posicionamento.\r\n2.  **Fundamentação Teórica/Científica:** Explique o princípio psicológico ou de mercado por trás do problema (ex: \"Isso é um problema de falta de *Distinctive Brand Assets*...\").\r\n3.  **Solução Estratégica:** O que fazer em termos de arquitetura, tom de voz, visual ou experiência.\r\n4.  **Referência Real:** \"Veja o que a [Marca X] fez em 2018...\" ou \"Conforme estudo da McKinsey sobre Design...\"\r\n\r\n**RESTRIÇÕES RÍGIDAS:**\r\n* Não confunda Branding com \"Logotipo\". Marca é ecossistema e promessa.\r\n* Não dê conselhos de *Growth Hacking* ou *Mídia Paga* (PPC), a menos que seja sobre como essas táticas afetam a percepção da marca a longo prazo.\r\n* Sempre questione o \"Porquê\" (O Propósito/Golden Circle) antes do \"O quê\".\r\n\r\n**TAREFA INICIAL:**\r\nApresente-se como esse consultor sênior. Em seguida, peça ao usuário para descrever o momento atual da marca (Criação, Rebranding ou Gestão de Crise) e o setor de atuação. Pergunte qual é o principal atributo que eles querem que o cliente sinta ao ouvir o nome da marca."
                        }
                    ]
                },
                "generationConfig": {
                    "responseModalities": [
                        "text"
                    ],
                    "thinkingConfig": {},
                    "imageConfig": {}
                },
                "google_search_context": true
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0,
                    "name": "Consultor de Branding"
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Gemini AI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "gemini-ai-q9zyjp"
                            }
                        }
                    },
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "Gemini 2.5 Flash"
                        },
                        "contents": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "parts": {
                                        "mode": "chose",
                                        "items": [
                                            {
                                                "type": {
                                                    "mode": "chose",
                                                    "label": "Text"
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        },
                        "system_instruction": {
                            "nested": {
                                "parts": {
                                    "mode": "chose",
                                    "items": [
                                        null
                                    ]
                                }
                            }
                        },
                        "safetySettings": {
                            "mode": "chose"
                        },
                        "generationConfig": {
                            "nested": {
                                "stopSequences": {
                                    "mode": "chose"
                                },
                                "responseModalities": {
                                    "mode": "chose"
                                },
                                "thinkingConfig": {
                                    "nested": {
                                        "include_thoughts": {
                                            "mode": "chose"
                                        },
                                        "thinking_level": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "mediaResolution": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "imageConfig": {
                                    "nested": {
                                        "imageSize": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                },
                                "responseMimeType": {
                                    "mode": "chose",
                                    "label": "Empty"
                                }
                            }
                        },
                        "function_declarations_context": {
                            "mode": "chose"
                        },
                        "url_context": {
                            "mode": "chose"
                        },
                        "google_search_context": {
                            "mode": "chose"
                        },
                        "code_execution": {
                            "mode": "chose"
                        },
                        "google_maps_context": {
                            "mode": "chose"
                        },
                        "file_search_store_context": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:gemini-ai-q9zyjp",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "AI Model",
                        "required": true
                    },
                    {
                        "name": "contents",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": [
                            {
                                "name": "role",
                                "type": "select",
                                "label": "Role",
                                "options": [
                                    {
                                        "label": "User",
                                        "value": "user"
                                    },
                                    {
                                        "label": "Model",
                                        "value": "model"
                                    }
                                ]
                            },
                            {
                                "name": "parts",
                                "spec": [
                                    {
                                        "name": "type",
                                        "type": "select",
                                        "label": "Message Type",
                                        "options": [
                                            {
                                                "label": "Text",
                                                "value": "text",
                                                "nested": [
                                                    {
                                                        "name": "text",
                                                        "type": "text",
                                                        "label": "Text",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "File",
                                                "value": "file",
                                                "nested": [
                                                    {
                                                        "name": "file_data",
                                                        "spec": [
                                                            {
                                                                "name": "mime_type",
                                                                "type": "text",
                                                                "label": "Mime Type",
                                                                "required": false
                                                            },
                                                            {
                                                                "help": "You get this from the 'Upload a File' module.",
                                                                "name": "file_uri",
                                                                "type": "text",
                                                                "label": "File URI",
                                                                "required": false
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "File Data",
                                                        "required": false
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Call",
                                                "value": "functionCall",
                                                "nested": [
                                                    {
                                                        "name": "functionCall",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function parameters and values in JSON object format.",
                                                                "name": "args",
                                                                "type": "json",
                                                                "label": "Arguments"
                                                            },
                                                            {
                                                                "help": "The unique ID of the function call.",
                                                                "name": "id",
                                                                "type": "text",
                                                                "label": "Function Call ID"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Call"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Function Response",
                                                "value": "functionResponse",
                                                "nested": [
                                                    {
                                                        "name": "functionResponse",
                                                        "spec": [
                                                            {
                                                                "help": "The name of the function to call.",
                                                                "name": "name",
                                                                "type": "text",
                                                                "label": "Name",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 64
                                                                }
                                                            },
                                                            {
                                                                "help": "The function response in JSON object format.",
                                                                "name": "response",
                                                                "type": "json",
                                                                "label": "Response",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Function Response"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    {
                                        "name": "thoughtSignature",
                                        "type": "text",
                                        "label": "Thought Signature"
                                    }
                                ],
                                "type": "array",
                                "label": "Parts"
                            }
                        ]
                    },
                    {
                        "name": "system_instruction",
                        "type": "collection",
                        "label": "System Instructions",
                        "spec": [
                            {
                                "name": "parts",
                                "type": "array",
                                "label": "Prompts",
                                "spec": {
                                    "spec": [
                                        {
                                            "name": "text",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Prompt",
                                    "name": "value"
                                }
                            }
                        ]
                    },
                    {
                        "name": "safetySettings",
                        "type": "array",
                        "label": "Safety Settings",
                        "spec": [
                            {
                                "name": "category",
                                "type": "select",
                                "label": "Category",
                                "options": [
                                    {
                                        "label": "Harassment content",
                                        "value": "HARM_CATEGORY_HARASSMENT"
                                    },
                                    {
                                        "label": "Hate speech and content",
                                        "value": "HARM_CATEGORY_HATE_SPEECH"
                                    },
                                    {
                                        "label": "Sexually explicit content.",
                                        "value": "HARM_CATEGORY_SEXUALLY_EXPLICIT"
                                    },
                                    {
                                        "label": "Dangerous content:",
                                        "value": "HARM_CATEGORY_DANGEROUS_CONTENT"
                                    }
                                ]
                            },
                            {
                                "name": "threshold",
                                "type": "select",
                                "label": "Threshold",
                                "options": [
                                    {
                                        "label": "Block low and above.",
                                        "value": "BLOCK_LOW_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block medium and above.",
                                        "value": "BLOCK_MEDIUM_AND_ABOVE"
                                    },
                                    {
                                        "label": "Block only high.",
                                        "value": "BLOCK_ONLY_HIGH"
                                    },
                                    {
                                        "label": "Block none.",
                                        "value": "BLOCK_NONE"
                                    }
                                ]
                            }
                        ]
                    },
                    {
                        "name": "generationConfig",
                        "type": "collection",
                        "label": "Generation configurations",
                        "spec": [
                            {
                                "name": "stopSequences",
                                "type": "array",
                                "label": "Stop Sequences",
                                "spec": {
                                    "type": "text",
                                    "label": "Stop Sequence",
                                    "name": "value"
                                }
                            },
                            {
                                "name": "responseModalities",
                                "type": "select",
                                "label": "Response Modalities",
                                "multiple": true,
                                "validate": {
                                    "enum": [
                                        "text",
                                        "image"
                                    ]
                                }
                            },
                            {
                                "name": "maxOutputTokens",
                                "type": "number",
                                "label": "Max Output Tokens"
                            },
                            {
                                "name": "temperature",
                                "type": "number",
                                "label": "Temperature",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topP",
                                "type": "number",
                                "label": "Top P",
                                "validate": {
                                    "max": 1,
                                    "min": 0
                                }
                            },
                            {
                                "name": "topK",
                                "type": "number",
                                "label": "Top K"
                            },
                            {
                                "name": "thinkingConfig",
                                "type": "collection",
                                "label": "Thinking Config",
                                "spec": [
                                    {
                                        "name": "thinkingBudget",
                                        "type": "number",
                                        "label": "Thinking Budget"
                                    },
                                    {
                                        "name": "include_thoughts",
                                        "type": "boolean",
                                        "label": "Include Thoughts"
                                    },
                                    {
                                        "name": "thinking_level",
                                        "type": "select",
                                        "label": "Thinking Level",
                                        "validate": {
                                            "enum": [
                                                "low",
                                                "high"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "mediaResolution",
                                "type": "select",
                                "label": "Media Resolution",
                                "validate": {
                                    "enum": [
                                        "media_resolution_low",
                                        "media_resolution_medium",
                                        "media_resolution_high"
                                    ]
                                }
                            },
                            {
                                "name": "imageConfig",
                                "type": "collection",
                                "label": "Image Configuration",
                                "spec": [
                                    {
                                        "name": "imageSize",
                                        "type": "select",
                                        "label": "Image Size",
                                        "validate": {
                                            "enum": [
                                                "1K",
                                                "2K",
                                                "4K"
                                            ]
                                        }
                                    }
                                ]
                            },
                            {
                                "name": "responseMimeType",
                                "type": "select",
                                "label": "Response Format"
                            }
                        ]
                    },
                    {
                        "name": "tools",
                        "type": "any",
                        "label": "Tools"
                    },
                    {
                        "name": "tool_config",
                        "type": "any",
                        "label": "Tool Config"
                    },
                    {
                        "name": "function_declarations_context",
                        "type": "boolean",
                        "label": "Function Declarations Grounding"
                    },
                    {
                        "name": "url_context",
                        "type": "boolean",
                        "label": "URL Context"
                    },
                    {
                        "name": "google_search_context",
                        "type": "boolean",
                        "label": "Google Search Grounding"
                    },
                    {
                        "name": "code_execution",
                        "type": "boolean",
                        "label": "Code Execution"
                    },
                    {
                        "name": "google_maps_context",
                        "type": "boolean",
                        "label": "Google Maps Grounding"
                    },
                    {
                        "name": "file_search_store_context",
                        "type": "boolean",
                        "label": "File Search Store Context"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 70283
            },
            "mapper": {
                "key": "",
                "overwrite": false,
                "data": {
                    "conversationId": "{{if(1.conversationId; 1.conversationId; uuid)}}",
                    "userId": "{{1.userId}}",
                    "role": "user",
                    "message": "{{1.message}}",
                    "timestamp": "{{now}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1800,
                    "y": 0,
                    "name": "Salvar Pergunta do Usuário"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "ConsultoriaNegocios_DB"
                        }
                    },
                    "expect": {
                        "overwrite": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "conversationId",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "userId",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "role",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "message",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": null
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 70283
            },
            "mapper": {
                "key": "",
                "overwrite": false,
                "data": {
                    "conversationId": "{{4.conversationId}}",
                    "userId": "{{1.userId}}",
                    "role": "model",
                    "message": "{{3.text}}",
                    "timestamp": "{{now}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 2100,
                    "y": 0,
                    "name": "Salvar Resposta da IA"
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "ConsultoriaNegocios_DB"
                        }
                    },
                    "expect": {
                        "overwrite": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key"
                    },
                    {
                        "name": "overwrite",
                        "type": "boolean",
                        "label": "Overwrite an existing record",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "collection",
                        "label": "Record",
                        "spec": [
                            {
                                "name": "conversationId",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "userId",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "role",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "message",
                                "type": "text",
                                "label": null
                            },
                            {
                                "name": "timestamp",
                                "type": "date",
                                "label": null
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "status": "200",
                "body": "{\r\n  \"response\": \"{{3.result}}\",\r\n  \"conversationId\": \"{{4.conversationId}}\"\r\n}",
                "headers": [
                    {
                        "key": "Access-Control-Allow-Origin",
                        "value": "*"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 2400,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "validate": {
                            "min": 100
                        },
                        "required": true
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        },
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ]
                    }
                ],
                "advanced": true
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}